<div class="footer">
  <div class="social-container">
    {% if site.gitlab %}
    <div class="social-icon-container">
      <a href="https://gitlab.com/u/{{ site.gitlab }}" target="_blank">
        <i class="fa fa-gitlab" aria-hidden="true"></i>
      </a>
    </div>
    {% endif %}
    {% if site.twitter %}
    <div class="social-icon-container">
      <a href="https://twitter.com/{{ site.twitter }}" target="_blank">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
    </div>
    {% endif %}
    <div class="social-icon-container">
      <a href="{{ "/feed.xml" | prepend: site.url }}">
        <i class="fa fa-rss fa-white" aria-hidden="true"></i>
      </a>
    </div>
  </div>
  <span>© {{ date: "%Y" }} techmunchies - All rights reserved.</span>
</div>
<span class="to-top hidden" aria-hidden="true">To Site Top</span>
