<div class="header">
  <a class="header-logo" href="{{ "/" | relative_url }}" title="techmunchies">techmunchies</a>
  <nav class="nav nav-inline">
    {% for my_page in site.pages %}
    {% if my_page.title and my_page.category == false %}
    {% if my_page.url == page.url %}
    <a class="nav-link active" href="{{ my_page.url | relative_url }}">{{ my_page.title }}</a>
    {% elsif my_page.url == page.stub %}
    <a class="nav-link active" href="{{ my_page.url | relative_url }}">{{ my_page.title }}</a>
    {% else %}
    <a class="nav-link" href="{{ my_page.url | relative_url }}">{{ my_page.title }}</a>
    {% endif %}
    {% endif %}
    {% endfor %}
  </nav>
</div>
