//
// GitHub style for Pygments syntax highlighter, for use with Jekyll
// Courtesy of GitHub.com
// Converted to SCSS by techmunchies (https://techmunchies.net)
//

$highlight-color-1:  #f8f8f8;
$highlight-color-2:  #ccc;
$highlight-color-3:  #998;
$highlight-color-4:  #999;
$highlight-color-5:  #e3d2d2;
$highlight-color-6:  #a61717;
$highlight-color-7:  #a00;
$highlight-color-8:  #fdd;
$highlight-color-9:  #faa;
$highlight-color-10: #dfd;
$highlight-color-11: #afa;
$highlight-color-12: #888;
$highlight-color-13: #555;
$highlight-color-14: #800080;
$highlight-color-15: #099;
$highlight-color-16: #900;
$highlight-color-17: #458;
$highlight-color-18: #333;
$highlight-color-19: #d14;
$highlight-color-20: #008080;
$highlight-color-21: #bbb;
$highlight-color-22: #009926;
$highlight-color-23: #990073;
$highlight-color-24: #eaf2f5;
$highlight-color-25: #0086b3;
$highlight-color-26: #800080;
$highlight-color-27: #000080;


.highlight pre,
pre,
.highlight .hll { background-color: $highlight-color-1; border: 1px solid $highlight-color-2; border-radius: 3px; padding: 6px 10px; }

.highlight .c { color: $highlight-color-3; font-style: italic; }
.highlight .err { background-color: $highlight-color-5; color: $highlight-color-6; }
.highlight .k { font-weight: bold; }
.highlight .o { font-weight: bold; }
.highlight .cm { color: $highlight-color-3; font-style: italic; }
.highlight .cp { color: $highlight-color-4; font-weight: bold; }
.highlight .c1 { color: $highlight-color-3; font-style: italic; }
.highlight .cs { color: $highlight-color-4; font-style: italic; font-weight: bold; }
.highlight .gd { background-color: $highlight-color-8; color: $black; .x { background-color: $highlight-color-9; } }
.highlight .ge { font-style: italic; }
.highlight .gr { color: $highlight-color-7; }
.highlight .gh { color: $highlight-color-4; }
.highlight .gi { background-color: $highlight-color-10; color: $black; .x { background-color: $highlight-color-11; } }
.highlight .go { color: $highlight-color-12; }
.highlight .gp { color: $highlight-color-13; }
.highlight .gs { font-weight: bold; }
.highlight .gu { color: $highlight-color-14; font-weight: bold; }
.highlight .gt { color: $highlight-color-7; }
.highlight .kc { font-weight: bold; }
.highlight .kd { font-weight: bold; }
.highlight .kn { font-weight: bold; }
.highlight .kp { font-weight: bold; }
.highlight .kr { font-weight: bold; }
.highlight .kt { color: $highlight-color-17; font-weight: bold; }
.highlight .m { color: $highlight-color-15; }
.highlight .s { color: $highlight-color-19; }
.highlight .n { color: $highlight-color-18; }
.highlight .na { color: $highlight-color-20; }
.highlight .nb { color: $highlight-color-25; }
.highlight .nc { color: $highlight-color-17; font-weight: bold; }
.highlight .no { color: $highlight-color-20; }
.highlight .ni { color: $highlight-color-26; }
.highlight .ne { color: $highlight-color-16; font-weight: bold; }
.highlight .nf { color: $highlight-color-16; font-weight: bold; }
.highlight .nn { color: $highlight-color-13; }
.highlight .nt { color: $highlight-color-27; }
.highlight .nv { color: $highlight-color-20; }
.highlight .ow { font-weight: bold; }
.highlight .w { color: $highlight-color-21; }
.highlight .mf { color: $highlight-color-15; }
.highlight .mh { color: $highlight-color-15; }
.highlight .mi { color: $highlight-color-15; }
.highlight .mo { color: $highlight-color-15; }
.highlight .sb { color: $highlight-color-19; }
.highlight .sc { color: $highlight-color-19; }
.highlight .sd { color: $highlight-color-19; }
.highlight .s2 { color: $highlight-color-19; }
.highlight .se { color: $highlight-color-19; }
.highlight .sh { color: $highlight-color-19; }
.highlight .si { color: $highlight-color-19; }
.highlight .sx { color: $highlight-color-19; }
.highlight .sr { color: $highlight-color-22; }
.highlight .s1 { color: $highlight-color-19; }
.highlight .ss { color: $highlight-color-23; }
.highlight .bp { color: $highlight-color-4; }
.highlight .vc { color: $highlight-color-20; }
.highlight .vg { color: $highlight-color-20; }
.highlight .vi { color: $highlight-color-20; }
.highlight .il { color: $highlight-color-15; }
.highlight .gc { background-color: $highlight-color-24; color: $highlight-color-4; }
