// Global CSS
html,
body {
  background: $background-color;
  font-family: $base-font-family;
  font-smoothing: antialiased;
  margin: 0;
  width: 100vw;

  &:focus {
    outline: none;
  }
}

.row {
  max-width: calc(100vw - 30px);
}

// Navigation
.header {
  background-color: $transparent;
  border: 0;
  display: block;
  margin: 0;
  max-height: 70px;
  padding: 0;
  position: fixed;
  transition: padding .4s, background-color .2s, color .2s;
  width: 100vw;
  z-index: 99;

  &.scrolled {
    background: $white;
    box-shadow: 0 3px 4px 0 rgba($black, .14);
    max-height: 70px;
    padding: 0;
    transition: padding .4s, background-color .2s, color .2s;

    .header-logo {
      color: $text-color;
    }

    .nav-link {
      color: $text-color !important;

      &:active,
      &:focus,
      &:hover {
        background-color: rgba($text-color-lighter, .15) !important;
      }
    }

    .shape {
      stroke: $text-color;
    }
  }

  .header-logo {
    color: $white;
    font-size: 22px;
    letter-spacing: 2px;
    margin: 15px;
    position: absolute;

    &:active,
    &:focus,
    &:hover {
      text-decoration: none;
    }

    img {
      height: 16px;
      line-height: 24px;
      vertical-align: -2px;
      width: 16px;
    }
  }

  .nav {
    text-align: center;

    .nav-link {
      border: solid 1px transparent;
      color: $white;
      display: inline-block;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 3px;
      margin: 15px 4px;
      padding: 0 6px;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;

      &:active,
      &:focus,
      &:hover {
        @include prefix('transition', 'all 0.2s ease-in-out');
        background-color: rgba($link-background-color, .15);
        border: solid 1px;
      }
    }
  }
}

// Jukebox HERO!
.hero {
  background-color: lighten($text-color, 15%);
  margin: 0;
  padding: 190px 0 200px;
  position: relative;

  .tagline {
    color: $white;
    display: block;
    font-size: 32px;
    margin-top: 50px;
  }

  .message {
    color: $white;
    display: block;
    font-size: 22px;
    font-weight: 300;
  }

  .code-container {
    background: $code-window-background-color;
    border-radius: 6px;
    box-shadow: 0 10px 30px 5px rgba(darken($text-color, 5), .5);
    display: block;
    max-height: 80%;
    min-height: 100px;
    position: relative;
    top: 20%;
    width: 90%;
  }

  .code-titlebar {
    padding: 10px;
    text-align: left;
  }

  .code-titlebar-buttons {

    display: inline-block;

    > div {
      display: inline-block;
    }

    .fa-circle {
      display: inline-block;
      margin-right: 5px;
      position: relative;
    }
  }

  .code-titlebar-buttons .fa-times-circle,
  .code-titlebar-buttons .fa-minus-circle,
  .code-titlebar-buttons .fa-plus-circle {
    display: none;
  }

  .code-titlebar-buttons:hover {
    .fa-circle {
      display: none;
    }

    .fa-times-circle,
    .fa-minus-circle,
    .fa-plus-circle {
      display: inline-block;
      margin-right: 5px;
      position: relative;
    }
  }

  .code-close {
    color: $code-close-color;
  }

  .code-minimize {
    color: $code-minimize-color;
  }

  .code-expand {
    color: $code-expand-color;
  }

  .code-editor {
    background-color: $code-editor-background-color;
    height: 410px;
  }
}

// Contact Form in HERO!
.contact-form {
  margin: 50px 0 0 150px;
  max-width: 400px;

  .contact-form-text {
    background-color: $transparent;
    border-color: $white;
    border-radius: 3px;
    color: $white;
    font-size: 16px;
    padding: 12px 16px;

    &::-webkit-input-placeholder {
      color: $white;
      transition: opacity 250ms ease-in-out;
    }

    &:focus::-webkit-input-placeholder {
      opacity: .75;
    }

    &:-ms-input-placeholder {
      color: $white;
      transition: opacity 250ms ease-in-out;
    }

    &:focus:-ms-input-placeholder {
      opacity: .75;
    }

    &::-moz-placeholder {
      color: $white;
      opacity: 1;
      transition: opacity 250ms ease-in-out;
    }

    &:focus::-moz-placeholder {
      opacity: .75;
    }
  }

  .contact-form-submit {
    background-color: rgba($white, .1);
    border-color: $white;
    border-radius: 3px;
    color: $white;
    font-size: 16px;
    padding: 12px 16px;
    width: 100%;

    &.active,
    &.focus,
    &:hover {
      background-color: $white;
      color: $text-color;
    }
  }
}

// Footer
.footer {
  background-color: $text-color-lighter;
  color: $white;
  display: inline-block;
  font-size: 16px;
  font-weight: lighter;
  padding: 25px 0;
  text-align: center;
  width: 100%;

  a {
    color: $white;
    text-decoration: none;

    &:active,
    &:focus,
    &:hover {
      text-decoration: none;
    }
  }
}

// Site Showcase
.site-showcase {
  background-color: $showcase-background-color;
  margin: 0;
  padding: 100px 0 180px;
  position: relative;
  text-align: center;

  .showcase-title {
    color: $white;
    font-size: 64px;
    margin-bottom: 20px;
  }

  .row {
    display: inline-block;
  }

  .centered-column {
    display: inline-block;
    float: none;
    margin-right: -3px;
  }

  .site-img {
    display: inline-block;
    height: 250px;
    width: 350px;
  }
}

// Social Icons
.social-container {

  margin-bottom: 10px;

  > .social-icon-container:nth-child(even) {
    background-color: lighten($showcase-background-color, 10%);
  }

  > .social-icon-container:nth-child(odd) {
    background-color: darken($showcase-background-color, 10%);
  }
}

.social-icon-container {
  @include prefix('backface-visibility', 'hidden');
  @include prefix('transform', 'translateZ(0)');
  @include prefix('transition', 'color .3s');
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;

  &::before {
    @include prefix('transform', 'scaleY(0)');
    @include prefix('transform-origin', '50% 100%');
    @include prefix('transition', 'transform .3s ease-out');
    background-color: lighten($text-color-lighter, 20%);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  &:active,
  &:focus,
  &:hover {
    &::before {
      @include prefix('transform', 'scaleY(1)');
    }
  }

  .fa {
    font-size: 20px;
    padding: 6px 10px;
  }
}

// To Site Top Button
.to-top {
  background-color: $text-color;
  border-radius: 20px;
  bottom: 20px;
  box-shadow: 0 3px 4px 0 rgba($black, .14);
  color: $white;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.5px;
  padding: 10px 0 8px;
  position: fixed;
  right: 20px;
  text-align: center;
  text-transform: uppercase;
  transition: background .3s ease;
  width: 120px;
  z-index: 31415926535;

  &:active,
  &:focus,
  &:hover {
    background-color: lighten($text-color, 20%);
    cursor: pointer;
  }
}

// Blog
.blog-container {
  background: $showcase-background-color;
  padding: 190px 0 200px;
  text-align: center;
  width: 100vw;

  .row {
    margin: 0 45px 0 15px;
    max-width: 100vw;
  }

  .cover {
    @include prefix('transition', 'transform 0.5s ease');
    border-radius: 4px;
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;

    img {
      background-origin: padding-box;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
    }

    &::before {
      @include prefix('transition', 'background-color 0.5s ease');
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }

    &::after {
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 2;
    }
  }

  a {
    @include prefix('transition', 'background-color 0.5s ease, transform 0.5s ease');
    border-bottom: 0;
    border-radius: 4px;
    color: $white;
    display: block;
    height: 100%;
    left: 0;
    padding: 10px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 0;
    vertical-align: middle;
    width: 100%;
    z-index: 3;
  }

  .blog-post-title {
    font-size: 18px;
    font-weight: 400;
  }

  .blog-post-content-date {
    font-size: 14px;
    font-weight: 300;
  }
}

.blog-post-container {
  @include prefix('transition', 'background-color 0.5s ease, transform 0.5s ease');
  box-shadow: 0 3px 4px 0 rgba($black, .14);
  margin: 30px 0 0 30px;
  position: relative;

  &:active .cover,
  &:focus .cover ,
  &:hover .cover {
    @include prefix('transform', 'scale(1.1)');
    box-shadow: 0 3px 4px 0 rgba($black, .14);

    &::before {
      background-color: rgba($blog-img-background-color, .35);
      box-shadow: 0 3px 4px 0 rgba($black, .14);
    }
  }
}

@include blog-post-container-color-x(15);

// Post Container
.post-container {
  background-color: $post-background;
  color: $white;
  min-height: calc(100vh - 80px);
  padding: 190px 0 200px;
  text-align: center;
  width: 100vw;

  a {
    @include prefix('transition', 'color 0.2s ease-in-out, border-color 0.2s ease-in-out');
    border-bottom: dotted 1px $white;
    color: $white;

    &:active,
    &:focus,
    &:hover {
      @include prefix('transition', 'color 0.2s ease-in-out, border-color 0.2s ease-in-out');
      border-bottom: dotted 1px transparent;
      color: rgba($white, .7);
      text-decoration: none;
    }
  }

  .post {
    padding: 0 90px;
  }

  .post-header {
    font-size: 12px;
    padding-bottom: 80px;

    p:last-child {
      float: right;
    }
  }

  img {
    border-radius: 8px;
    height: 360px;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }

  .post-meta {
    float: left;
  }

  .post-content {
    text-align: left;
  }
}

// Hide things haha
.hidden {
  display: none;
}

// Media Queries for...EVERYTHING!
@include media-query($phone) {
  .hero {
    padding: 50px 0 80px;

    .message {
      margin: 500px 0 0;
    }

    .code-container {
      margin: 0 0 -465px;
      top: -815px;
      width: 100%;
    }
  }

  .row {
    max-width: none;
    padding: 0 30px;
  }

  .contact-form {
    margin: 15px 0 0;
  }

  .site-showcase {
    padding: 40px 0 60px;
  }

  .showcase-container {
    margin: 0 0 30px;
  }

  .blog-container {
    padding: 90px 0 80px;
  }

  .post-container {
    padding: 90px 0 80px;

    .post {
      padding: 0 45px;
    }

    .post-header {
      padding-bottom: 50px;
    }

    .post-title {
      font-size: 2rem;
    }
  }
};
