// Media Query for device width
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Mixin for vendor prefixes
@mixin prefix($name, $value) {
  @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
    #{$vendor}#{$name}: #{$value};
  }
}

// Mixin for color classes
@mixin blog-post-container-color-x($amount) {
  @for $i from 0 through $amount {
    .blog-post-container-color-#{$i} .cover {
      &::before {
        $color: map-get($blog-post-container-colors, $i);
        background-color: rgba($color, .6);
      }

      &::after {
        $color: map-get($blog-post-container-colors, $i);
        background-color: rgba($color, 0);
      }
    }
  }
}
