// Our variables
$base-font-family: 'Source Sans Pro', Helvetica, sans-serif;
$code-font-family: 'Source Code Pro', monospace;
$base-font-size:   20px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * .875;
$base-line-height: 1.5;

$spacing-unit: 30px;

// Site Colors
$text-color:                  #0069ff;
$text-color-lighter:          #0080ff;
$link-background-color:       #bcffce;
$background-color:            #f9f9f9;
$modal-background-color:      #1f4c74;
$showcase-background-color:   #548;
$categories-background-color: #67b5d1;

// Code Window Colors
$code-window-background-color:      #eee;
$code-close-color:                  #ff6052;
$code-minimize-color:               #ffbe06;
$code-expand-color:                 #16cc37;
$code-editor-background-color:      #002b36;
$categories-close-background-color: #3184a1;

// Blog Colors
$blog-dark-grey:               #2c2d33;
$blog-img-background-color:    #333;
$blog-post-container-colors: (
  0:  #0ec0b3,
  1:  #9e2c9e,
  2:  #e3ee34,
  3:  #3798f0,
  4:  #19cc29,
  5:  #650d2f,
  6:  #3ec180,
  7:  #134d2a,
  8:  #10263e,
  9:  #e64607,
  10: #a0bc37,
  11: #c7243b,
  12: #c96cf5,
  13: #a82227,
  14: #7ea0ad,
  15: #1afbc2
);

// Post Colors
$post-background: #036;

// Normal Colors
$black: #000;
$transparent: rgba(0, 0, 0, 0);
$white: #fff;

// Device max-widths
$site-width: 100vw;
$phone:  600px;
$tablet: 800px;
