---
layout: default
---
<section class="blog-container">
  {% for post in site.posts %}
  {% assign modulo = forloop.index0 | modulo: 3 %}
  {% assign cover_url = post.cover %}
  {% assign seed = site.time | date: "%H" | plus: 100 %}
  {% assign rand = post.title.size | plus: seed | modulo: 15 %}

  {% if modulo == 0 or forloop.first %}
  <div class="row">
  {% endif %}
    <div class="col-md-4">
      <article class="blog-post-container blog-post-container-color-{{ rand }}">
        <span class="cover">
          <img src="{{ "/assets/images/posts/covers/" | append: cover_url | relative_url }}" alt="Cover image by Unsplash">
        </span>
        <a href="{{ post.url | relative_url }}">
          <span class="blog-post-title">{{ post.title }}</span>
          <div class="blog-post-conent-date">
            <span>{{ post.date | date_to_string }}</span>
          </div>
        </a>
      </article>
    </div>
  {% if modulo == 2 or forloop.last %}
  </div>
  {% endif %}
  {% endfor %}
</section>
