---
layout: default
---
<section class="hero text-xs-center">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <span class="tagline">Tired of dealing with this?</span>
      <span class="message">Fill in the form below, and let me deal with it instead!</span>
      <form id="contact-form" class="contact-form">
        <div class="form-group row">
          <label for="name" class="sr-only">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control contact-form-text" id="name" name="name" placeholder="name">
          </div>
        </div>
        <div class="form-group row">
          <label for="email" class="sr-only">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control contact-form-text" id="email" name="_replyto" placeholder="email">
          </div>
        </div>
        <div class="form-group row">
          <label for="details" class="sr-only">Request Details</label>
          <div class="col-sm-10">
            <input type="text" class="form-control contact-form-text" id="message" name="message" placeholder="a few words to describe your request" maxlength="39">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <input id="submit" type="submit" value="Submit" class="btn btn-primary contact-form-submit">
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="code-container">
        <div class="code-titlebar">
          <div class="code-titlebar-buttons">
            <div class="code-close">
              <i class="fa fa-circle" aria-hidden="true"></i>
              <i class="fa fa-times-circle" aria-hidden="true"></i>
            </div>
            <div class="code-minimize">
              <i class="fa fa-circle" aria-hidden="true"></i>
              <i class="fa fa-minus-circle" aria-hidden="true"></i>
            </div>
            <div class="code-expand">
              <i class="fa fa-circle" aria-hidden="true"></i>
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="code-window">
          <div id="code-editor" class="code-editor">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="site-showcase">
  <h1 class="showcase-title">projects</h1>
  <div class="row">
    {% for project in site.data.projects %}
    {% assign project_img = project.img %}
    {% if project.fav %}
    <div class="col-md-4 centered-column">
      <div class="showcase-container">
        <a href="{{ project.url }}" target="_blank">
          <img class="site-img" src="{{ "/assets/images/projects/" | append: project_img | relative_url }}" alt="Cover Photo of {{ project.name }}">
        </a>
      </div>
    </div>
    {% endif %}
    {% endfor %}
    <div class="col-md-4 centered-column">
      <div class="showcase-container">
        <img class="site-img" src="http://placehold.it/350x250?text=Next+Project+Coming+Soon!" alt="Next Project Coming Soon!">
      </div>
    </div>
  </div>
</section>
<section class="gears">
</section>
