---
layout: default
---
<section class="post-container">
  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
      <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
      <span class="post-image">
        {% assign cover_url = page.cover %}
        <img src="{{ "/assets/images/posts/covers/" | append: cover_url | relative_url }}" alt="Cover image by Unsplash">
      </span>
      <p class="post-meta"><time datetime="{{ page.date | date_to_string }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
      <p>{{ page.content | reading_time }}</p>
    </header>

    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>
  </article>
</section>
